<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interna</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
    crossorigin="anonymous"
  />
</head>
<body>
    <header>
        <div class="container d-flex d-flex justify-content-between ">
          <img src="../img/Grupo 69.png" alt="" />
        <div class="container container-header mt-2 justify-content-end">
            <input class=""type="text" placeholder="TEXTO DE BUSQUEDA" ></input><img src="../img/search.png" alt="">
            <p class="ml-5">Carolina <br>
            Villamizar</p>
        </div>
              
         
        
              
          </div>
        </div>
      </header> 
      <hr class="hr" />
      <ul class="container">
        <a href="#"><li> INICIO</li></a>
        <a href=""> <li>HABLEMOS</li></a>
        <a href="#contenido"><li>MI CONTENIDO</li></a>
        <a href="#membresia"><li>MEMBRESIA</li></a>
        <a href="#questions"><li>PREGUNTAS FRECUENTES</li></a>
      </ul>
      
</body>
</html>