<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuanPis Live Show</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/live-show.css">
</head>
<body>
    <header class="header-live-show">
        <div class="container-logo-searchbox">
            <figure class="container-live-logo">
                <img src="../img/Logo-JP.png" alt="">
            </figure>
            <div class="container-search-author">
                <input type="search" placeholder="Texto de busqueda">
                <span>Carolina <br> Villamizar</span>
            </div>
        </div>
        <ul class="live-show-menu">
            <li><a href="">inicio</a></li>
            <li><a href="">THE JUANPIS LIVE SHOW</a></li>
            <li><a href="">JP NEWS</a></li>
            <li><a href="">EL BOLETÍN DEL GOMELO</a></li>
            <li><a href="">JUANPIS EXPERIENCE</a></li>
            <li><a href="">JP HEROS</a></li>
            <li><a class="hamburger-icon" href="#"><span class="fa fa-bars"></span></a></li>
        </ul>
    </header>

    <div class="main-live-show-actor-container">
        <h2 class="main-title-live-show">THE JUANPIS <br> LIVE SHOW</h2>
        <h3 class="name-actor">ALEJANDRA <br> AZCÁRATE</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>

        <div class="vertical-text-live-show-container">
            <img src="../img/live-show-arrow-rotate.png" alt="">
            <h3>BAJE PARA QUE VEA COSAS MÁS TOP</h3>
        </div>
    </div>

    <div class="container-live-show-slider">
        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>

            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <!-- <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="secundary-live-show-actor-container">
        <h2 class="secundary-title-live-show">JP NEWS</h2>
        <h3 class="secundary-name-actor">periodismo libre <br> de mantecos</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>
    </div>

    <div class="container-live-show-slider">
        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>

            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <!-- <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="secundary-live-show-actor-container">
        <h2 class="secundary-title-live-show">boletín del <br> gomelo</h2>
        <h3 class="secundary-name-actor">gustavo petro</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>
    </div>

    <div class="container-live-show-slider">
        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>

            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

       <!--  <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="secundary-live-show-actor-container">
        <h2 class="secundary-title-live-show">políticamente <br> incorrecto</h2>
        <h3 class="secundary-name-actor">tour por tierra <br> caliente</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>
    </div>
    
    <div class="container-live-show-slider">
        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>

            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <!-- <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="secundary-live-show-actor-container">
        <h2 class="secundary-title-live-show">JP heros</h2>
        <h3 class="secundary-name-actor">fundación techo <br> colombia</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>
    </div>

    <div class="container-live-show-slider">
        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>

            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div>

        <!-- <div class="single-card-video">
            <video src=""></video>
            <h3>Título del video</h3>
            <p>Descripción corta que no supere los dos renglones de longitud</p>
            
            <div class="container-like-dislike-card-video">
                <span>50 Min</span>
                <div>
                    <img class="icon-view-card-video" src="../img/live-show-icon-view.png" alt="">
                    <span>2k views</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-like.png" alt="">
                    <span>12k</span>
                </div>
    
                <div>
                    <img src="../img/live-show-icon-dislike.png" alt="">
                    <span>300</span>
                </div>
            </div>
        </div> -->
    </div>

    <div class="secundary-live-show-actor-container">
        <h2 class="secundary-title-live-show">JP friends</h2>
        <h3 class="secundary-name-actor">fundación techo <br> colombia</h3>

        <div class="container-like-dislike">
            <span>50 Min</span>
            <div>
                <img class="icon-view" src="../img/live-show-icon-view.png" alt="">
                <span>2k views</span>
            </div>

            <div>
                <img src="../img/live-show-icon-like.png" alt="">
                <span>12k</span>
            </div>

            <div>
                <img src="../img/live-show-icon-dislike.png" alt="">
                <span>300</span>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore.</p>

        <div class="container-btn-play-info">
            <img src="../img/live-show-BTN-reproducir.png" alt="">
            <img src="../img//live-show-BTN-masInformacion.png" alt="">
        </div>
    </div>

    <div class="container-actors-list">
        <figure class="container-photos">
            <img src="../img/circle1.png" alt="">
            <img src="../img/circle2.png" alt="">
            <img src="../img/circle3.png" alt="">
            <img src="../img/circle4.png" alt="">
            <img src="../img/circle5.png" alt="">
            <img src="../img/circle6.png" alt="">
            <img src="../img/circle7.png" alt="">
            <img src="../img/circle8.png" alt="">
            <img src="../img/circle2.png" alt="">
            <img src="../img/circle1.png" alt="">
            <img src="../img/circle2.png" alt="">
            <img src="../img/circle3.png" alt="">
        </figure>

        <div class="container-cards-friends">
            <section>
                <div class="single-card-friend">
                    <h3>jp friends</h3>
                    <h3>¿quién pidio pollo?</h3>
                    <div class="container-icon-views">
                        <span>50 Min</span>
                        <div><img src="../img/live-show-white-views.JPG" alt=""><span>2k views</span></div>
                        <div><img src="../img/live-show-star-white.JPG" alt=""><span>4.7</span></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <img src="../img/live-show-BTN-reproducir.png" alt="">
            </section>

            <section>
                <div class="single-card-friend">
                    <h3>jp friends</h3>
                    <h3>camilo cifuentes</h3>
                    <div class="container-icon-views">
                        <span>50 Min</span>
                        <div><img src="../img/live-show-white-views.JPG" alt=""><span>2k views</span></div>
                        <div><img src="../img/live-show-star-white.JPG" alt=""><span>4.7</span></div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <img src="../img/live-show-BTN-reproducir.png" alt="">
            </section>
        </div>
    </div>

    <div class="footer-live-show">
        <div class="footer-section-one">
            <figure class="container-logo-footer">
                <img src="../img/live-show-logo-footer.png" alt="Logo">
            </figure>
            <div class="container-signature-email">
                <img class="jp-signature" src="../img/firma-jp.png" alt="firma JuanPis">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="info@yhejpchannel.com">Contactenos: <strong> info@yhejpchannel.com</strong></a>
            </div>
        </div>

        <hr class="hr-desk">
        <hr class="hr-mobile">
        

        <div class="footer-section-two">
            <div class="container-social-bar-footer">
                <h4>Síguenos</h4>
                <figure class="minibar-social">
                    <a href=""><img src="../img/live-show-footer-instagram.png" alt=""></a>
                    <a href=""><img src="../img/live-show-footer-facebook.png" alt=""></a>
                    <a href=""><img src="../img/live-show-footer-twiter.png" alt=""></a>
                </figure>
            </div>
            <div class="container-personal-data">
                <p>Politicas de tratamiento</p>
                <p>Autorización de datos personales.</p>
                <p>Términos y condiciones</p>
            </div>
        </div>
    </div>

   

</body>
</html>