<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modal-coments-channel.css">
    <title>Suscripción</title>
</head>
<body>
    <div class="main-container-modal-coments">
        <div class="main-central-container-modal">
            <div class="modal-coments-channel">
                <div class="modal-header">
                    <span>comentarios</span>
                    <img src="../img/channel-modal-salir.png" alt="">
                </div>
                <div class="container-list-songs">
                    <!-- INICIO contenedor de la lista de camciones -->
                    <div class="container-songs-detail">
                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FIN contenedor de la lista de camciones -->
                </div>
            </div>    
        </div>
    </div>    
</body>
</html>

