<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modal-coments-main-channel.css">
    <title>Suscripción</title>
</head>
<body>
    <div class="main-container-modal-coments">
        <div class="back-option">
            <img src="../img/left-arrow-channel.png" alt="">
            <span>regresar</span>
        </div>
        <!-- ************************************************************ -->
        
        <div class="main-central-container-modal">
            <div class="modal-coments-channel">
                <div class="modal-header">
                    <span>comentarios</span>
                    <img src="../img/channel-modal-salir.png" alt="">
                </div>
                <div class="container-list-songs">
                    <!-- INICIO contenedor de la lista de camciones -->
                    <div class="container-songs-detail">
                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="container-single-song">
                            <figure class="container-modal-avatar-song">
                                <img src="../img/channel-modal-avatar-song.JPG" alt="">
                            </figure>
                            <div class="container-info-song">
                                <span class="nickname-song">Nick name</span> <span class="date-song">27 ago 2020</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    <!-- FIN contenedor de la lista de camciones -->


                    <!-- contenedor del scroll -->
                    <!-- <div>scroll down</div> -->

                </div>

                <form class="container-form-public-commentary">
                    <input type="text" placeholder="Agregar un comentario público">

                    <div class="container-cancel-comment">
                        <input type="submit" value="Cancelar"">
                        <input type="submit" value="Comentar"">
                    </div>
                </form>
            </div>    
        </div>

        <!-- ************************************************************ -->

        <div class="play-control-panel">
            <div class="advance-bar">
                <img src="../img/channel-play-point.png" alt="">
                <img src="../img/channel-play-tracer.png" alt="">
            </div>
           
            <div class="play-controls">
                <div class="main-controls">
                    <img src="../img/channel-play-btn.png" alt="">
                    <img src="../img/channel-backward-btn.png" alt="">
                    <img src="../img/channel-forward-btn.png" alt="">
                    <img src="../img/channel-volume-down.png" alt="">
                </div>

                <div class="info-music">
                    <p>The Juanpis Live Show <span> - Nombre del video</span></p>
                </div>

                <div class="secundary-controls">
                    <div><img src="../img/channel-hand-up.png" alt=""><span>12k</span></div>
                    <div><img src="../img/channel-hand-down.png" alt=""><span>300</span></div>
                    <img src="../img/channel-skip-next.png" alt="">
                    <img src="../img/channel-rewind.png" alt="">
                </div>
            </div>
        </div> 
    </div>    
</body>
</html>

