<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/suscription.css">
    <title>Suscripción</title>
</head>
<body>
    <div class="main-container-suscription">
        <div class="inner-container-suscription">
            <img class="logo-jp-suscription" src="../img/Logo-JP.png" alt="Logo JuanPi">
            <h2 class="suscription-value-title">valor de suscripción</h2>
            <h2 class="suscription-value-sutitle">12.000 COP / 3 USD Mensual</h2>

            <form class="main-container-form-suscription" action="">
                <div class="form-suscription-names">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>

                <div class="form-suscription-email">
                    <input type="email" name="correoelectronico" placeholder="Correo electrónico">
                </div>

                <div class="form-suscription-pw">
                    <input type="password" placeholder="Contraseña">
                    <input type="password" placeholder="Confirmar contraseña">
                </div>
            </form>

            <div class="container-policy-data">
                <div class="subcontainer-policy-data">
                    <input class="custom-checkbox-input" type="checkbox" name="terms" value="terms">
                   <!--  <span class="custom-checkbox-show show-checkbox"></span> -->
                    <span>Acepto Términos y condiciones</span>
                </div>

                

                <div class="subcontainer-policy-data">
                    <input class="custom-checkbox-input" type="checkbox" name="terms" value="terms">
                    <!-- <span class="custom-checkbox-show show-checkbox"></span> -->
                    <span>Acepto <a href=""> Política de Tratamiento y Autorización de datos personales</a></span>
                </div>
            </div>

            <div class="container-btn-login">
                <img src="../img/BTN-login.png" alt="">
                <img src="../img/BTN-subscribe.png" alt="">
            </div>

            <div class="container-donation-value">
                <span>El 50% del valor de tu suscripción será donado a las despensas comunitarias de TECHO Colombia</span>
            </div>

        </div>
    
    </div>    
</body>
</html>

