<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interna</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body-replay">
    <div class="body-replay" id="bodyrep">
      <div class="container">
        <div class="d-flex justify-content-between mt-5">
          <a class="no-a" href="../views/interna.html">
            <div class="container d-flex">
              <img class="back mr-2" src="../img/regresar.png" alt="" />
              <p class="mt-2">REGRESAR</p>
            </div>
          </a>
          <a class="no-at" href="javascript:comentar()"><p>COMENTAR</p></a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img class="mt-5 img-responsive" src="../img/Grupo 213.png" alt="" />
      </div>
      <div class="container">
        <div class="d-flex mt-5">
          <img class="w-100" src="../img/vid.PNG" alt="" />
        </div>

        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <img class="mr-5" src="../img/paused.png" alt="" />
            <img class="mr-3" src="../img/retroceder.png" alt="" />
            <img src="../img/adelantar.png" alt="" />
            <img class="ml-5 mr-5" src="../img/volumen.png" alt="" />
          </div>
          <div class="d-flex">
            <img class="mr-5" src="../img/previous.png" alt="" />
            <img src="../img/pantalla.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="replay-comentar" id="comentar">
      <div class="rep-comentar">
        <div class="container">
          <div class="d-flex justify-content-between mt-5">
            <a class="no-a" href="javascript:regresartwo()">
              <div class="container d-flex">
                <img class="back mr-2" src="../img/regresar.png" alt="" />
                <p class="mt-2">REGRESAR</p>
              </div>
            </a>
          </div>
          <div class="container">
            <div class="row">
              <div class="margin-video col-12 col-md-7 col-sm-12">
                <h2 class="text-white">
                  DEJANOS TU<br />
                  OPINION
                </h2>
                <textarea
                  class="textarea-c w-100"
                  name="text-area"
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                ></textarea>
                <button class="mt-5 btn-princip b-rigth" type="button">
                  ENVIAR
                </button>
              </div>
              <div class="col-12 col-md-5 col-sm-12">
                <div class="contenedor-two">
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                  <div class="d-flex">
                    <img
                      class="img-circle"
                      src="../img/circulo-one.png"
                      alt=""
                    />
                    <p class="text-white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Corrupti consectetur minus deleniti culpa ducimus alias
                      blanditiis, suscipit eligendi vel quam magni ad quasi
                      iure? Nulla dolorum repellat atque laboriosam. Vel?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../js/index.js"></script>
</html>
