<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/suscription-login.css">
    <title>Suscripción</title>
</head>
<body>
    <div class="main-container-suscription-login">
        <div class="inner-container-suscription-login">
            <img class="logo-jp-suscription-login" src="../img/Logo-JP.png" alt="Logo JuanPi">
            
            <form class="main-container-form-suscription-login" action="">
                <div class="form-suscription-email-login">
                    <input type="email" name="correoelectronico" placeholder="Correo electrónico">
                    <input type="password" placeholder="Contraseña">
                </div>
            </form>

            <div class="container-btn-login-suscribe">
                <img src="../img/BTN-ingresar-login.png" alt="">
                <a href="">olvidé mi contraseña</a>
                <img src="../img/BTN-suscribirse-login.png" alt="">
            </div>
           

        </div>
    
    </div>    
</body>
</html>

